<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<TargetFramework>net8.0-windows</TargetFramework>
	<connectionStrings>
		<add name="MedicineDonationDb"
		connectionString="Server=localhost;Database=MedicineDonationDb;Integrated Security=True;"
		providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- SMTP Settings for sending emails -->
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUser" value="your-email@gmail.com"/>
		<add key="SmtpPassword" value="your-email-password"/>
	</appSettings>
	<connectionStrings>
		<add name="MedicineDonationDb"
			 connectionString="Server=localhost;Database=MedicineDonationDb;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>
